* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    background-color: whitesmoke;
}

img {width: 120px;}

header {
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #0C9B8E;
    color: white;
    text-align: center;
    padding: 1rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.dataetitulo {
    color: rgb(141, 141, 141);
    padding: .5rem; 
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; 
    text-align: center;
    margin-bottom: .5rem;
    font-size: .8rem;
    font-family: 'Oswald', sans-serif;
}

main {
    width: 55%;
    margin: 5rem auto;
    background-color: whitesmoke;
}

.linha {
    margin-bottom: 1rem;
    padding: 3rem 4rem;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto auto;
    gap: .5rem;
    border-radius: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: .4s;
}

.linha:hover {
    cursor: pointer;
    /* background-color: #f4f4f4; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 1.5rem;
    font-family: 'Roboto Condensed';
    font-family: 'Oswald';
    font-weight: 800;
    text-transform: uppercase;
    color: rgb(97, 96, 96);
}

.titulo, .verso {
    padding-left: 1.5rem;
}

.verso {
    font-family: 'Roboto Condensed';
    color: rgb(147, 147, 147);
    padding-top: .4rem;

}

.per {
    display: none;
    grid-column: span 8;
}

.toggle {
    display: block;
}

.pergunta, .resposta {
    font-family: 'Roboto Condensed', sans-serif;
}

.pergunta {
    margin-top: 2rem;
    color: rgb(97, 96, 96);
    font-weight: 600;
}
.resposta {
    margin-top: .5rem;
    color: rgb(147, 147, 147);
    padding-left: 2rem;
}

footer {
    background-color: #0C9B8E;
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 40vh;
}

footer img {
    width: 60px;
}
